// $media-x-sml: 450px;
// $media-sml: 576px;
// $media-med: 768px;
// $media-lrg: 1025px;
// $media-lrg-xl: 1500px;

$aqua: #2bceff;
$skyblue: #2bceff;

strong {
    font-weight: 600;
}

body {
    font-family: 'Lora', serif;
}

h1,
h2,
h3,
h4 {
    font-family: 'Montserrat', sans-serif;
}

h1 {
    font-family: Montserrat;

    font-weight: 600;
    line-height: 1.22;
    letter-spacing: 3.24px;
    color: #ffffff;

    font-size: 27px;

    @include media-med {
        font-size: 38px;
        line-height: 1.24;
        letter-spacing: 5.7px;
    }

    @include media-lrg {
        font-size: 45px;
        line-height: 1.22;
        letter-spacing: 6.75px;
    }

    @include media-lrg-xl {
        font-size: 60px;
        line-height: 1.22;
        letter-spacing: 9px;
    }
}

h2 {
    font-family: Montserrat;
    font-weight: bold;
    line-height: 1.21;
    letter-spacing: 4.32px;
    color: #000000;
    font-size: 24px;
    text-transform: uppercase;

    @include media-med {
        font-size: 28px;
        line-height: 1.21;
        letter-spacing: 5.04px;
    }
    @include media-lrg {
        font-size: 28px;
        line-height: 1.23;
        letter-spacing: 5.4px;
    }
    @include media-lrg-xl {
        font-size: 32px;
        line-height: 1.24;
        letter-spacing: 6.12px;
    }
}

h3 {
    font-family: Montserrat;
    font-size: 20px;
    font-weight: bold;
    line-height: 1.2;
    letter-spacing: 3.6px;
    color: #000000;
    text-transform: uppercase;

    @include media-med {
        font-size: 22px;
        line-height: 1.23;
        letter-spacing: 3.96px;
    }
    @include media-lrg {
        font-size: 22px;
        line-height: 1.21;
        letter-spacing: 4.32px;
    }
    @include media-lrg-xl {
        font-size: 26px;
        line-height: 1.21;
        letter-spacing: 5.04px;
    }
}

h4 {
    font-family: Lora;
    font-size: 20px;
    font-weight: normal;
    font-style: italic;
    line-height: 1.33;
    letter-spacing: 0.48px;
    color: #000000;

    @include media-med {
        font-size: 22px;
    }
    @include media-lrg {
        font-size: 22px;
    }
    @include media-lrg-xl {
        font-size: 26px;
    }
}

h5 {
    font-family: Montserrat;
    font-size: 16px;
    font-weight: bold;
    line-height: 1.19;
    letter-spacing: 2.88px;
    color: #ffffff;
    text-transform: uppercase;

    // @include media-med {}
    // @include media-lrg-xl {}
    // @include media-lrg-xl {}
}

.h5-alternative {
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.19;
    letter-spacing: 0.8px;
    color: #ffffff;

    //  @include media-med {}
    // @include media-lrg-xl {}
    // @include media-lrg-xl {}
}

h6 {
    font-family: Lora;
    font-size: 18px;
    font-style: italic;
    line-height: 1.3;
    letter-spacing: 0.4px;
    color: #000000;

    margin-bottom: 20px;
    @include media-med {
        font-size: 20px;
    }
    // @include media-lrg-xl {}
    // @include media-lrg-xl {}
}

p {
    font-family: Lora;
    font-size: 15px;
    line-height: 1.25;
    letter-spacing: 0.8px;
    color: #000000;
    margin-bottom: 20px;
    @include media-med {
        font-size: 16px;
    }
    // @include media-lrg-xl {}
    // @include media-lrg-xl {}
}

q {
    font-family: Lora;
    font-size: 24px;
    font-style: italic;
    line-height: 1.33;
    letter-spacing: 0.48px;
    color: #ffffff;

    @include media-med {
        font-size: 28px;
        line-height: 1.32;
        letter-spacing: 0.56px;
    }
    @include media-lrg {
        font-size: 30px;
        line-height: 1.3;
        letter-spacing: 0.6px;
    }
    @include media-lrg-xl {
        font-size: 36px;
        line-height: 1.31;
        letter-spacing: 0.72px;
    }
}

.tel-number {
    font-family: Montserrat;
    font-size: 28px;
    font-weight: 600;
    line-height: 1.21;
    letter-spacing: 5.04px;
    color: #ffffff;
    @include media-med {
        font-size: 32px;
        line-height: 1.22;
        letter-spacing: 5.76px;
    }
    // @include media-lrg-xl {}
    // @include media-lrg-xl {}
}

.button-text {
    font-family: Montserrat;
    font-size: 12px;
    font-weight: 600;
    line-height: 1.25;
    letter-spacing: 2.16px;
    color: #000000;
    text-transform: uppercase;
    // @include media-med {}
    // @include media-lrg-xl {}
    // @include media-lrg-xl {}
}

small {
    font-family: Montserrat;
    font-size: 12px;
    font-weight: normal;
    line-height: 1.25;
    letter-spacing: 0.6px;
    color: #ffffff;
}


a,
a:link,
a:visited,
a:active {
    color: black;
    transition: 0.3s;
    cursor: pointer;
    text-decoration: none;
    &:hover {
        color: $skyblue;
    }
}

.link-white {
    a,
    a:link,
    a:visited,
    a:active {
        color: white;
        transition: 0.3s;
        cursor: pointer;

        &:hover {
            color: $skyblue;
        }
    }
}


.link-blue {
    a,
    a:link,
    a:visited,
    a:active {
        color: $skyblue;
        transition: 0.3s;
        cursor: pointer;

        &:hover {
            color: $skyblue;
        }
    }
}

.link-white--underline {
    a,
    a:link,
    a:visited,
    a:active {
        text-decoration: underline;
    }
}

ul {
    padding: 0;
}

li {
    display: list-item;
    list-style-type: 'blah---';
    list-style-position: inside;
    font-family: Montserrat;
    font-size: 20px;
    font-weight: bold;
    line-height: 1.2;
    letter-spacing: 3.6px;
    color: #000000;
    text-transform: uppercase;

    @include media-med {
        font-size: 22px;
        line-height: 1.23;
        letter-spacing: 3.96px;
    }
    @include media-lrg {
        font-size: 24px;
        line-height: 1.21;
        letter-spacing: 4.32px;
    }
    @include media-lrg-xl {
        font-size: 28px;
        line-height: 1.21;
        letter-spacing: 5.04px;
    }
}

// li::before {
//   content: " - ";
// }

em {
    font-style: italic;
}

em::before {
    content: '"';
}

em::after {
    content: '"';
}

blockquote {
    margin: 1rem 1rem;
    padding-left: 1rem;
    font-style: italic;
    color: darkslategray;
    border-left: 1px solid;
    line-height: 1.5;
}
