/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

.border-me {
  border: 1px solid red; }

@media (min-width: 576px) {
  .hide-from-sml {
    display: none; } }

@media (min-width: 768px) {
  .hide-from-med {
    display: none; } }

@media (min-width: 1025px) {
  .hide-from-lrg {
    display: none; } }

@media (min-width: 1500px) {
  .hide-from-lrg-xl {
    display: none; } }

@media (max-width: 576px) {
  .hide-at-sml {
    display: none; } }

@media (max-width: 768px) {
  .hide-at-med {
    display: none; } }

@media (max-width: 1025px) {
  .hide-at-lrg {
    display: none; } }

@media (max-width: 1500px) {
  .hide-at-lrg-xl {
    display: none; } }

/* misc */
.border {
  border: 1px dashed red; }

.border1 {
  border: 1px dashed red; }

.border2 {
  border: 1px dashed orange; }

.border3 {
  border: 1px dashed aqua; }

.hover {
  -webkit-transform: scale(1);
  transform: scale(1);
  -webkit-transition: .15s;
  transition: .15s;
  cursor: pointer;
  position: inherit; }
  .hover:hover {
    color: orange;
    -webkit-transform: scale(1.15);
    transform: scale(1.15);
    -webkit-transform-origin: center;
    transform-origin: center; }

strong {
  font-weight: 600; }

body {
  font-family: 'Lora', serif; }

h1,
h2,
h3,
h4 {
  font-family: 'Montserrat', sans-serif; }

h1 {
  font-family: Montserrat;
  font-weight: 600;
  line-height: 1.22;
  letter-spacing: 3.24px;
  color: #ffffff;
  font-size: 27px; }
  @media (min-width: 768px) {
    h1 {
      font-size: 38px;
      line-height: 1.24;
      letter-spacing: 5.7px; } }
  @media (min-width: 1025px) {
    h1 {
      font-size: 45px;
      line-height: 1.22;
      letter-spacing: 6.75px; } }
  @media (min-width: 1500px) {
    h1 {
      font-size: 60px;
      line-height: 1.22;
      letter-spacing: 9px; } }

h2 {
  font-family: Montserrat;
  font-weight: bold;
  line-height: 1.21;
  letter-spacing: 4.32px;
  color: #000000;
  font-size: 24px;
  text-transform: uppercase; }
  @media (min-width: 768px) {
    h2 {
      font-size: 28px;
      line-height: 1.21;
      letter-spacing: 5.04px; } }
  @media (min-width: 1025px) {
    h2 {
      font-size: 28px;
      line-height: 1.23;
      letter-spacing: 5.4px; } }
  @media (min-width: 1500px) {
    h2 {
      font-size: 32px;
      line-height: 1.24;
      letter-spacing: 6.12px; } }

h3 {
  font-family: Montserrat;
  font-size: 20px;
  font-weight: bold;
  line-height: 1.2;
  letter-spacing: 3.6px;
  color: #000000;
  text-transform: uppercase; }
  @media (min-width: 768px) {
    h3 {
      font-size: 22px;
      line-height: 1.23;
      letter-spacing: 3.96px; } }
  @media (min-width: 1025px) {
    h3 {
      font-size: 22px;
      line-height: 1.21;
      letter-spacing: 4.32px; } }
  @media (min-width: 1500px) {
    h3 {
      font-size: 26px;
      line-height: 1.21;
      letter-spacing: 5.04px; } }

h4 {
  font-family: Lora;
  font-size: 20px;
  font-weight: normal;
  font-style: italic;
  line-height: 1.33;
  letter-spacing: 0.48px;
  color: #000000; }
  @media (min-width: 768px) {
    h4 {
      font-size: 22px; } }
  @media (min-width: 1025px) {
    h4 {
      font-size: 22px; } }
  @media (min-width: 1500px) {
    h4 {
      font-size: 26px; } }

h5 {
  font-family: Montserrat;
  font-size: 16px;
  font-weight: bold;
  line-height: 1.19;
  letter-spacing: 2.88px;
  color: #ffffff;
  text-transform: uppercase; }

.h5-alternative {
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.19;
  letter-spacing: 0.8px;
  color: #ffffff; }

h6 {
  font-family: Lora;
  font-size: 18px;
  font-style: italic;
  line-height: 1.3;
  letter-spacing: 0.4px;
  color: #000000;
  margin-bottom: 20px; }
  @media (min-width: 768px) {
    h6 {
      font-size: 20px; } }

p {
  font-family: Lora;
  font-size: 15px;
  line-height: 1.25;
  letter-spacing: 0.8px;
  color: #000000;
  margin-bottom: 20px; }
  @media (min-width: 768px) {
    p {
      font-size: 16px; } }

q {
  font-family: Lora;
  font-size: 24px;
  font-style: italic;
  line-height: 1.33;
  letter-spacing: 0.48px;
  color: #ffffff; }
  @media (min-width: 768px) {
    q {
      font-size: 28px;
      line-height: 1.32;
      letter-spacing: 0.56px; } }
  @media (min-width: 1025px) {
    q {
      font-size: 30px;
      line-height: 1.3;
      letter-spacing: 0.6px; } }
  @media (min-width: 1500px) {
    q {
      font-size: 36px;
      line-height: 1.31;
      letter-spacing: 0.72px; } }

.tel-number {
  font-family: Montserrat;
  font-size: 28px;
  font-weight: 600;
  line-height: 1.21;
  letter-spacing: 5.04px;
  color: #ffffff; }
  @media (min-width: 768px) {
    .tel-number {
      font-size: 32px;
      line-height: 1.22;
      letter-spacing: 5.76px; } }

.button-text {
  font-family: Montserrat;
  font-size: 12px;
  font-weight: 600;
  line-height: 1.25;
  letter-spacing: 2.16px;
  color: #000000;
  text-transform: uppercase; }

small {
  font-family: Montserrat;
  font-size: 12px;
  font-weight: normal;
  line-height: 1.25;
  letter-spacing: 0.6px;
  color: #ffffff; }

a,
a:link,
a:visited,
a:active {
  color: black;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  cursor: pointer;
  text-decoration: none; }
  a:hover,
  a:link:hover,
  a:visited:hover,
  a:active:hover {
    color: #2bceff; }

.link-white a,
.link-white a:link,
.link-white a:visited,
.link-white a:active {
  color: white;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  cursor: pointer; }
  .link-white a:hover,
  .link-white a:link:hover,
  .link-white a:visited:hover,
  .link-white a:active:hover {
    color: #2bceff; }

.link-blue a,
.link-blue a:link,
.link-blue a:visited,
.link-blue a:active {
  color: #2bceff;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  cursor: pointer; }
  .link-blue a:hover,
  .link-blue a:link:hover,
  .link-blue a:visited:hover,
  .link-blue a:active:hover {
    color: #2bceff; }

.link-white--underline a,
.link-white--underline a:link,
.link-white--underline a:visited,
.link-white--underline a:active {
  text-decoration: underline; }

ul {
  padding: 0; }

li {
  display: list-item;
  list-style-type: 'blah---';
  list-style-position: inside;
  font-family: Montserrat;
  font-size: 20px;
  font-weight: bold;
  line-height: 1.2;
  letter-spacing: 3.6px;
  color: #000000;
  text-transform: uppercase; }
  @media (min-width: 768px) {
    li {
      font-size: 22px;
      line-height: 1.23;
      letter-spacing: 3.96px; } }
  @media (min-width: 1025px) {
    li {
      font-size: 24px;
      line-height: 1.21;
      letter-spacing: 4.32px; } }
  @media (min-width: 1500px) {
    li {
      font-size: 28px;
      line-height: 1.21;
      letter-spacing: 5.04px; } }

em {
  font-style: italic; }

em::before {
  content: '"'; }

em::after {
  content: '"'; }

blockquote {
  margin: 1rem 1rem;
  padding-left: 1rem;
  font-style: italic;
  color: darkslategray;
  border-left: 1px solid;
  line-height: 1.5; }

#__bs_notify__ {
  top: 50% !important;
  right: 10px !important;
  border-radius: 15px !important;
  height: 50px !important;
  background-color: orange !important;
  display: none !important; }

.push-down {
  -webkit-box-flex: 1;
  flex: 1; }

.white {
  color: white; }

.skyblue {
  color: #2bceff; }

.black {
  color: black; }

.bkg-white {
  background: white; }

.bkg-black {
  background: black; }

body {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  min-height: 100vh;
  position: relative; }

*:focus {
  outline: none; }

.content-width-wrapper {
  padding: 60px 0;
  margin: 0 auto;
  width: calc(100% - 40px); }
  @media (min-width: 576px) {
    .content-width-wrapper {
      --vwMinusGutter: calc(100% - 70px);
      --columnWidth: calc(var(--vwMinusGutter) / 12);
      width: calc(var(--columnWidth) * 10);
      max-width: 1376px; } }
  @media (min-width: 768px) {
    .content-width-wrapper {
      padding: 80px 0; } }
  @media (min-width: 1025px) {
    .content-width-wrapper {
      padding: 90px 0; } }

.content-width-wrapper--no-padding {
  padding: 0; }

.btn {
  text-transform: uppercase;
  font-family: Montserrat;
  font-size: 12px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: 1;
  letter-spacing: 2.16px;
  margin: 0;
  padding: 14px 32px;
  display: inline-block;
  text-align: center;
  cursor: pointer; }

.btn--white {
  background: white; }
  .btn--white span {
    color: black; }
  .btn--white:hover {
    background: #2bceff; }
    .btn--white:hover span {
      color: black; }

.btn--black {
  background: black; }
  .btn--black span {
    color: white; }
  .btn--black:hover {
    background: #2bceff; }
    .btn--black:hover span {
      color: white; }

.line-break {
  border: 1px solid #2bceff; }

.line-break--sml {
  margin: 20px 0;
  width: 36px; }

.line-break--flexy {
  border: 1px solid #2bceff;
  width: 100%;
  margin: 0; }

* {
  box-sizing: border-box; }

img {
  width: 100%; }

.home-page-hero {
  height: 100vh;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  position: relative; }

.home-page-hero--bkg {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: -1; }
  .home-page-hero--bkg img {
    -o-object-fit: cover;
    object-fit: cover;
    height: 100%; }

.home-page-hero--video {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1;
  display: none; }
  @media (min-width: 768px) {
    .home-page-hero--video {
      display: unset; } }

.video-wrapper {
  width: 100%;
  height: 100vh;
  overflow: hidden; }
  .video-wrapper video {
    -o-object-fit: cover;
    object-fit: cover;
    width: 100%;
    height: 100%; }

.scroll-icon {
  width: 24px;
  position: absolute;
  bottom: 40px; }

.scroll-mouse {
  display: none; }
  @media (min-width: 1025px) {
    .scroll-mouse {
      display: block; } }

.scroll-hand {
  bottom: 60px; }
  @media (min-width: 1025px) {
    .scroll-hand {
      display: none; } }

.hero-logo {
  -webkit-transition: 0.2s;
  transition: 0.2s;
  width: 85%;
  max-width: 576px;
  margin-bottom: 20px; }
  @media (min-width: 768px) {
    .hero-logo {
      margin-bottom: 28px; } }
  @media (min-width: 1025px) {
    .hero-logo {
      max-width: 854px; } }
  @media (min-width: 1500px) {
    .hero-logo {
      max-width: 1096px;
      margin-bottom: 30px; } }

.hero-strapline {
  width: 280px;
  text-align: center; }
  @media (min-width: 768px) {
    .hero-strapline {
      width: 576px; }
      .hero-strapline h2 {
        font-size: 28px; } }
  @media (min-width: 1025px) {
    .hero-strapline {
      width: 636px; }
      .hero-strapline h2 {
        font-size: 30px; } }
  @media (min-width: 1500px) {
    .hero-strapline {
      width: 816px; }
      .hero-strapline h2 {
        font-size: 36px; } }

.home-page-black-banner {
  background: black;
  color: white;
  font-size: 28px;
  font-family: Lora;
  font-style: italic; }

.home-page-black-banner--content {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center; }

.home-page-black-banner--text h4 {
  margin-bottom: 30px; }

@media (min-width: 1025px) {
  .home-page-black-banner--text {
    width: 746px; } }

.two-col--background {
  overflow: hidden; }

@media (min-width: 1025px) {
  .two-col {
    display: -webkit-box;
    display: flex; } }

.two-col--reverse {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  flex-direction: row-reverse; }

.two-col--img {
  position: relative;
  width: 100%;
  height: calc(100vw - 140px); }
  @media (min-width: 576px) {
    .two-col--img {
      height: 65vw; } }
  @media (min-width: 768px) {
    .two-col--img {
      height: 430px; } }
  @media (min-width: 1025px) {
    .two-col--img {
      height: 490px; } }
  @media (min-width: 1025px) {
    .two-col--img {
      width: 40%; } }

.two-col--img-abs {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: -20px; }
  @media (min-width: 576px) {
    .two-col--img-abs {
      left: -120px; } }
  @media (min-width: 1025px) {
    .two-col--img-abs {
      left: -15vw; } }
  @media (min-width: 1500px) {
    .two-col--img-abs {
      left: -25vw; } }
  .two-col--img-abs img {
    -o-object-fit: cover;
    object-fit: cover;
    height: 100%;
    width: 100%; }
    @media (min-width: 576px) {
      .two-col--img-abs img {
        width: 100%; } }

.two-col--img-abs--reverse {
  left: 0;
  right: -20px; }
  @media (min-width: 576px) {
    .two-col--img-abs--reverse {
      right: -100px; } }
  @media (min-width: 1025px) {
    .two-col--img-abs--reverse {
      right: -15vw; } }
  @media (min-width: 1500px) {
    .two-col--img-abs--reverse {
      right: -25vw; } }

.two-col--text--wrapper {
  margin-top: 40px; }
  @media (min-width: 1025px) {
    .two-col--text--wrapper {
      margin-top: unset;
      width: 60%;
      display: -webkit-box;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      flex-direction: column;
      -webkit-box-pack: center;
      justify-content: center;
      -webkit-box-align: end;
      align-items: flex-end; } }

.two-col--text--wrapper--reverse {
  -webkit-box-align: start;
  align-items: flex-start; }

@media (min-width: 1025px) {
  .two-col--text {
    width: 83%; } }

.quote-banner {
  position: relative;
  height: 570px;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center; }
  @media (min-width: 1500px) {
    .quote-banner {
      height: 700px; } }

.quote-banner--content {
  width: 85%;
  margin: 0 auto;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  text-align: center; }
  @media (min-width: 1025px) {
    .quote-banner--content {
      width: 856px; } }
  @media (min-width: 1500px) {
    .quote-banner--content {
      width: 1206px; } }

.quote-banner--bkg {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: -1; }
  .quote-banner--bkg img {
    -o-object-fit: cover;
    object-fit: cover;
    height: 100%; }

.clients--img-wrapper {
  display: -webkit-box;
  display: flex;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  justify-content: center; }
  @media (min-width: 768px) {
    .clients--img-wrapper {
      -webkit-box-pack: justify;
      justify-content: space-between;
      margin-top: 40px; } }

.clients--img {
  width: 41%;
  max-width: 130px;
  margin: 0 20px 20px; }
  @media (min-width: 768px) {
    .clients--img {
      margin: 0 0 20px;
      width: 18%;
      max-width: unset; }
      .clients--img img {
        max-width: 160px; } }

.whitepaper {
  max-width: 630px; }
  @media (min-width: 768px) {
    .whitepaper {
      display: -webkit-box;
      display: flex;
      flex-wrap: wrap;
      -webkit-box-pack: justify;
      justify-content: space-between; } }
  @media (min-width: 1025px) {
    .whitepaper {
      max-width: 1376px;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: reverse;
      flex-direction: row-reverse; } }

.whitepaper--img {
  width: 33%;
  max-height: 440px;
  margin-bottom: 20px; }
  .whitepaper--img img {
    -o-object-fit: cover;
    object-fit: cover;
    height: 100%; }
  @media (min-width: 1025px) {
    .whitepaper--img {
      position: relative; } }

@media (min-width: 1025px) {
  .whitepaper-content-desk {
    width: 526px;
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    -webkit-box-pack: center;
    justify-content: center; } }

@media (min-width: 1500px) {
  .whitepaper-content-desk {
    width: 676px; } }

@media (min-width: 768px) {
  .whitepaper--title-mob {
    width: 330px;
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    -webkit-box-pack: center;
    justify-content: center; } }

@media (min-width: 1025px) {
  .whitepaper--title-mob {
    display: none; } }

.whitepaper--title-desk {
  display: none; }
  @media (min-width: 1025px) {
    .whitepaper--title-desk {
      display: block; } }

.whitepaper--text {
  margin-bottom: 40px; }

.page-hero--image {
  position: relative;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  height: 70vh; }
  .page-hero--image h1 {
    text-align: center;
    text-transform: uppercase;
    max-width: 1050px; }
    @media (min-width: 1500px) {
      .page-hero--image h1 {
        max-width: unset; } }

.page-hero--bkg {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: -1;
  background-color: black; }
  .page-hero--bkg img {
    -o-object-fit: cover;
    object-fit: cover;
    height: 100%; }

.page-hero--text--wrapper {
  background: black; }

.page-hero--text {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center; }
  .page-hero--text h4 {
    margin-bottom: 30px; }
  @media (min-width: 1025px) {
    .page-hero--text {
      width: 746px; } }

.home-page-black-banner--content {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center; }

.map {
  height: 550px; }

.our-team--wrapper {
  background: black; }

.our-team--title {
  margin-bottom: 30px; }
  @media (min-width: 1025px) {
    .our-team--title {
      margin-bottom: 0; } }

.our-team--strapline-mobile {
  margin: 27px 0 95px; }
  @media (min-width: 768px) {
    .our-team--strapline-mobile {
      margin: 66px 0 117px; } }
  @media (min-width: 1025px) {
    .our-team--strapline-mobile {
      display: none; } }

.our-team--strapline-desktop {
  display: none; }
  @media (min-width: 1025px) {
    .our-team--strapline-desktop {
      display: block;
      width: 526px; } }
  @media (min-width: 1500px) {
    .our-team--strapline-desktop {
      width: 676px; } }

@media (min-width: 1025px) {
  .our-team--header {
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: end;
    align-items: flex-end;
    margin-bottom: 30px; } }

.our-team-members {
  width: 100%; }
  @media (min-width: 1025px) {
    .our-team-members {
      margin-top: 150px; } }

.our-team-member {
  margin-bottom: 100px; }
  @media (min-width: 768px) {
    .our-team-member {
      width: 100%;
      display: -webkit-box;
      display: flex;
      -webkit-box-pack: justify;
      justify-content: space-between; }
      .our-team-member:nth-child(odd) {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: reverse;
        flex-direction: row-reverse; } }

.our-team-member--avatar {
  width: 127px;
  height: 127px;
  margin-bottom: 20px; }
  .our-team-member--avatar img {
    -o-object-fit: cover;
    object-fit: cover;
    height: 100%; }
  @media (min-width: 768px) {
    .our-team-member--avatar {
      width: 216px;
      height: 216px;
      margin-bottom: 0; } }
  @media (min-width: 1025px) {
    .our-team-member--avatar {
      width: 306px;
      height: 306px;
      margin-right: 20px; } }
  @media (min-width: 1500px) {
    .our-team-member--avatar {
      width: 396px;
      height: 396px; } }

@media (min-width: 1025px) {
  .our-team-member:nth-child(odd) .our-team-member--avatar {
    margin-right: 0px;
    margin-left: 20px; } }

.our-team-member--content {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column; }
  @media (min-width: 768px) {
    .our-team-member--content {
      width: 70%;
      margin-right: 15px; } }
  @media (min-width: 1025px) {
    .our-team-member--content {
      width: 746px;
      margin: 0; } }
  @media (min-width: 1500px) {
    .our-team-member--content {
      width: 956px; } }

@media (min-width: 768px) {
  .our-team-member:nth-child(even) .our-team-member--content {
    width: 70%;
    margin-right: 0px;
    margin-left: 15px; } }

@media (min-width: 1025px) {
  .our-team-member:nth-child(even) .our-team-member--content {
    width: 746px;
    margin: 0; } }

@media (min-width: 1500px) {
  .our-team-member:nth-child(even) .our-team-member--content {
    width: 956px; } }

.our-team-member--bio-btn-open,
.our-team-member--bio-btn-close {
  margin-bottom: 20px;
  cursor: pointer; }
  .our-team-member--bio-btn-open:hover,
  .our-team-member--bio-btn-close:hover {
    color: #2bceff; }
  @media (min-width: 1025px) {
    .our-team-member--bio-btn-open,
    .our-team-member--bio-btn-close {
      display: none; } }

.our-team-member--content-bio {
  margin-bottom: 50px;
  display: none; }
  @media (min-width: 1025px) {
    .our-team-member--content-bio {
      display: block; } }

.our-team-member--content-social {
  display: -webkit-box;
  display: flex;
  padding: 0;
  margin: 0; }

.our-team-member--content-social-twitter,
.our-team-member--content-social-linkedin {
  width: 20px;
  margin-right: 25px; }
  .our-team-member--content-social-twitter svg,
  .our-team-member--content-social-linkedin svg {
    width: 100%; }

.our-team-member--content-icon {
  fill: white;
  cursor: pointer; }
  .our-team-member--content-icon:hover {
    fill: #2bceff; }

.con-pict-content {
  margin-bottom: 60px; }
  @media (min-width: 768px) {
    .con-pict-content {
      margin-bottom: 80px; } }
  @media (min-width: 1025px) {
    .con-pict-content {
      margin-bottom: 90px; } }
  @media (min-width: 1025px) {
    .con-pict-content {
      display: -webkit-box;
      display: flex;
      -webkit-box-pack: justify;
      justify-content: space-between;
      -webkit-box-align: end;
      align-items: flex-end; }
      .con-pict-content .con-pict-content--item1 {
        width: 636px; } }

.con-pict--video {
  position: relative;
  height: 0;
  padding-bottom: 56.25%;
  margin: 60px 0 0; }
  @media (min-width: 768px) {
    .con-pict--video {
      margin: 80px 0 0; } }
  @media (min-width: 1025px) {
    .con-pict--video {
      margin: 90px 0 0; } }
  .con-pict--video video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    outline: none; }

.container {
  width: 89vw;
  margin: 0 auto;
  padding: 90px 0;
  max-width: 450px; }
  @media (min-width: 768px) {
    .container {
      width: 85%;
      max-width: 1070px;
      width: 575px; } }
  @media (min-width: 1025px) {
    .container {
      width: 85%;
      max-width: 1100px; } }
  @media (min-width: 1500px) {
    .container {
      max-width: 1380px; } }

.why-purpose {
  padding: 90px 0; }

@media (min-width: 1025px) {
  .why-purpose--strapline {
    width: 526px;
    margin-bottom: 60px; } }

@media (min-width: 1025px) {
  .why-purpose--list-wrapper {
    display: -webkit-box;
    display: flex;
    margin-top: 75px; } }

.why-purpose--list-title {
  margin: 20px 0 56px; }
  @media (min-width: 1025px) {
    .why-purpose--list-title {
      width: 174px;
      margin: 0 80px 0 0; } }

.why-purpose--list-item {
  margin-bottom: 30px;
  display: -webkit-box;
  display: flex;
  font-size: 20px;
  font-weight: bold;
  color: #2bceff; }

.the-hyphen {
  width: 70px; }
  @media (min-width: 768px) {
    .the-hyphen {
      width: 20px; } }

.why-purpose--list-item::before {
  content: ' - '; }

.who-we-help--wrapper {
  background: black;
  padding: 90px 0; }

.who-we-help--mobile {
  margin-top: 40px; }
  @media (min-width: 1025px) {
    .who-we-help--mobile {
      display: none; } }

.who-we-help--desktop {
  display: none; }
  @media (min-width: 1025px) {
    .who-we-help--desktop {
      display: block;
      max-width: 1076px;
      margin-top: 70px; } }
  @media (min-width: 1500px) {
    .who-we-help--desktop {
      max-width: unset; } }

.we-do--wrapper {
  background: white; }

.we-do--wrapper--even {
  background: black; }

.we-do-big-title {
  font-family: Montserrat;
  font-weight: bold;
  line-height: 1.21;
  letter-spacing: 4.32px;
  color: #000000;
  font-size: 24px;
  text-transform: uppercase; }
  @media (min-width: 768px) {
    .we-do-big-title {
      font-size: 28px;
      line-height: 1.21;
      letter-spacing: 5.04px;
      margin-bottom: 28px; } }
  @media (min-width: 1025px) {
    .we-do-big-title {
      font-size: 30px;
      line-height: 1.23;
      letter-spacing: 5.4px; } }
  @media (min-width: 1500px) {
    .we-do-big-title {
      font-size: 34px;
      line-height: 1.24;
      letter-spacing: 6.12px; } }

.we-do-index {
  margin-top: 45px; }
  @media (min-width: 1025px) {
    .we-do-index {
      margin-top: 0; } }

.we-do-text {
  margin-bottom: 50px; }
  @media (min-width: 768px) {
    .we-do-text {
      margin-bottom: 0; } }

.we-do-list-title {
  margin-bottom: 32px; }

.we-do--list-item,
.we-do--list-item--even {
  line-height: 1;
  margin-bottom: 0;
  display: -webkit-box;
  display: flex;
  text-transform: lowercase; }
  .we-do--list-item:before,
  .we-do--list-item--even:before {
    content: '\2014'; }
  .we-do--list-item p:first-letter,
  .we-do--list-item--even p:first-letter {
    text-transform: uppercase; }

.we-do--list-item {
  color: black; }

.we-do--list-item--even {
  color: white; }

.we-do--the-hyphen {
  width: 15px;
  -webkit-box-align: center;
  align-items: center; }
  @media (min-width: 768px) {
    .we-do--the-hyphen {
      width: 20px; } }

@media (min-width: 1025px) {
  .we-do--flex-box {
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between; } }

@media (min-width: 1025px) {
  .we-do--flex-item1 {
    width: 100px; } }

@media (min-width: 1500px) {
  .we-do--flex-item1 {
    width: 140px; } }

@media (min-width: 1025px) {
  .we-do--flex-item2 {
    width: 80%;
    max-width: 650px;
    padding-right: 30px; } }

@media (min-width: 1500px) {
  .we-do--flex-item2 {
    max-width: unset;
    width: 676px; } }

@media (min-width: 1025px) {
  .we-do--flex-item3 {
    -webkit-box-flex: 1;
    flex: 1; } }

@media (min-width: 1025px) {
  .we-do--flex-item4 {
    width: 305px; } }

@media (min-width: 1500px) {
  .we-do--flex-item4 {
    width: 395px; } }

.rss {
  position: relative;
  width: 100vw;
  background: black;
  text-align: center; }

.rss--wrapper {
  background: black;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  height: 500px;
  position: relative; }
  @media (min-width: 768px) {
    .rss--wrapper {
      height: 550px; } }

.rss--background {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0; }
  .rss--background img {
    -o-object-fit: cover;
    object-fit: cover;
    height: 100%; }

.rss--item {
  margin: 0 auto;
  width: calc(100% - 40px);
  max-width: 414px;
  background: white;
  padding: 40px 30px 30px;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  text-align: center;
  position: relative; }

.rss--item-category {
  text-transform: uppercase;
  font-family: Montserrat;
  font-size: 12px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: 1;
  letter-spacing: 2.16px;
  padding: 14px 32px;
  display: inline-block;
  text-align: center;
  cursor: pointer;
  background: black;
  color: white;
  position: absolute;
  top: -20px; }

@media (min-width: 768px) {
  .rss--item-title {
    margin-top: 20px; } }

.rss--item-desc {
  margin-top: 20px; }
  @media (min-width: 768px) {
    .rss--item-desc {
      margin-top: 30px; } }

.rss--item-btn {
  display: absolute;
  margin: 20px 0 0px;
  z-index: 4; }
  @media (min-width: 768px) {
    .rss--item-btn {
      margin: 20px 0 0; } }

.owl-dots {
  position: absolute;
  bottom: 40px;
  right: 0;
  left: 0;
  width: 130px;
  margin: 0 auto;
  z-index: 3; }

.owl-theme .owl-dots .owl-dot span {
  width: 12px;
  height: 12px;
  color: rgba(0, 0, 0, 0.5);
  background: rgba(255, 255, 255, 0.59);
  font-size: 140px; }

.owl-theme .owl-dots .owl-dot.active span,
.owl-theme .owl-dots .owl-dot:hover span {
  background: white; }

.owl-nav {
  position: absolute;
  bottom: 26px;
  right: 0;
  left: 0;
  z-index: 0;
  width: calc(100% - 40px);
  max-width: 414px;
  margin: 0 auto;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
  -webkit-box-align: end;
  align-items: flex-end;
  color: white;
  outline: none;
  font-size: 50px; }
  @media (min-width: 768px) {
    .owl-nav {
      height: 40px;
      top: 40%;
      max-width: unset;
      width: 90%;
      -webkit-box-align: center;
      align-items: center; } }

.contact--wrapper {
  background: black; }

.contact--tel {
  margin-bottom: 65px; }

.contact--address {
  margin-bottom: 65px; }

.contact--email {
  margin-bottom: 65px; }

@media (min-width: 768px) {
  .contact--flex-box {
    display: -webkit-box;
    display: flex; } }

@media (min-width: 768px) {
  .contact--flex-item1,
  .contact--flex-item2 {
    width: 50%; } }

.fake-nav-bkg {
  height: 90px;
  background: black; }

.text-container h1 {
  text-transform: uppercase; }

.nav-mobile-wrapper {
  height: 65px;
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  align-items: center; }
  @media (min-width: 1025px) {
    .nav-mobile-wrapper {
      display: none; } }

.nav-movile-logo {
  margin-left: 20px;
  width: 206px; }
  .nav-movile-logo svg {
    width: 100%; }

.display-none {
  display: none; }

.display-block {
  display: block; }

.menu-btn {
  width: 36px;
  margin-right: 22px;
  cursor: pointer; }
  .menu-btn svg {
    width: 100%; }

@media (min-width: 1025px) {
  .menu-mobile-open-btn {
    display: none; } }

.burger-white svg .burger line {
  stroke: white; }

.burger-black svg .burger line {
  stroke: black; }

.menu-mobile-close-btn {
  display: none;
  width: 26px;
  margin-top: 22px;
  margin-right: 22px;
  cursor: pointer;
  width: 20px;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 3; }
  .menu-mobile-close-btn .svg {
    width: 100%; }

.menu-mobile {
  width: 270px;
  position: fixed;
  top: 0;
  right: -270px;
  background: black;
  z-index: 2; }
  @media (min-width: 768px) {
    .menu-mobile {
      width: 430px;
      right: -430px; } }
  @media (min-width: 1025px) {
    .menu-mobile {
      display: none; } }

.menu-mobile-container {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  -webkit-box-pack: center;
  justify-content: center;
  height: 100vh; }
  .menu-mobile-container ul {
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    -webkit-box-pack: justify;
    justify-content: space-between;
    height: 333px;
    margin-left: 40px; }
  .menu-mobile-container li {
    font-family: montserrat;
    font-weight: bold;
    font-size: 20px;
    text-transform: uppercase;
    line-height: 1.2;
    letter-spacing: 3.6px; }
    .menu-mobile-container li a {
      text-decoration: none;
      color: white;
      -webkit-transition: 0.3s;
      transition: 0.3s;
      cursor: pointer; }
      .menu-mobile-container li a:hover {
        color: #2bceff; }

.displayNone {
  display: none; }

.nav-show-as-fixed {
  -webkit-transition: 1s;
  transition: 1s;
  background: white;
  position: fixed; }

.nav-stick-to-top {
  -webkit-transition: 1s;
  transition: 1s;
  background: unset;
  position: absolute; }

.nav-desktop-wrapper {
  -webkit-transition: 1s;
  transition: 1s;
  padding: 30px 0;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
  display: none; }
  @media (min-width: 1025px) {
    .nav-desktop-wrapper {
      display: block; } }

.nav-desktop {
  width: 95%;
  max-width: 1600px;
  margin: 0 auto;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
  -webkit-box-align: end;
  align-items: flex-end; }

.nav-desktop-logo,
.nav-desktop-white-logo {
  width: 190px; }
  @media (min-width: 1025px) {
    .nav-desktop-logo,
    .nav-desktop-white-logo {
      width: 260px; } }
  .nav-desktop-logo svg,
  .nav-desktop-white-logo svg {
    width: 100%; }

.nav-desktop-logo-img-black {
  display: none; }

.menu-desktop-container ul {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  flex-direction: row;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center; }

.menu-desktop-container li {
  margin-left: 10px;
  padding-right: 20px;
  text-transform: uppercase;
  font-size: 10px;
  font-family: 'Montserrat', sans-serif;
  line-height: 1;
  margin-bottom: 0;
  font-weight: 400; }
  .menu-desktop-container li:not(:last-child) {
    border-right: 1px solid white; }
  .menu-desktop-container li a,
  .menu-desktop-container li a:link,
  .menu-desktop-container li a:visited,
  .menu-desktop-container li a:active {
    padding-left: 10px;
    text-decoration: none;
    color: white;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    cursor: pointer; }
    .menu-desktop-container li a:hover,
    .menu-desktop-container li a:link:hover,
    .menu-desktop-container li a:visited:hover,
    .menu-desktop-container li a:active:hover {
      color: #2bceff; }

.menu-desktop-container .current_page_item a,
.menu-desktop-container .current_page_item a:link,
.menu-desktop-container .current_page_item a:visited,
.menu-desktop-container .current_page_item a:active {
  font-weight: bold; }
  .menu-desktop-container .current_page_item a:hover,
  .menu-desktop-container .current_page_item a:link:hover,
  .menu-desktop-container .current_page_item a:visited:hover,
  .menu-desktop-container .current_page_item a:active:hover {
    color: white; }

.make-li-black ul li:not(:last-child) {
  border-right: 1px solid black; }

.make-li-black ul li a,
.make-li-black ul li a:link,
.make-li-black ul li a:visited,
.make-li-black ul li a:active {
  padding-left: 10px;
  text-decoration: none;
  color: black;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  cursor: pointer; }
  .make-li-black ul li a:hover,
  .make-li-black ul li a:link:hover,
  .make-li-black ul li a:visited:hover,
  .make-li-black ul li a:active:hover {
    color: #2bceff; }

.footer-wrapper {
  background: black;
  padding-top: 46px; }
  @media (min-width: 1025px) {
    .footer-wrapper {
      padding-bottom: 67px; } }

footer {
  padding: 30px 0 60px;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  width: 90%;
  max-width: 450px;
  margin: 0 auto; }
  @media (min-width: 768px) {
    footer {
      width: 85%;
      max-width: unset;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      flex-direction: row;
      -webkit-box-pack: justify;
      justify-content: space-between;
      padding: 40px 0 30px; } }
  @media (min-width: 1025px) {
    footer {
      width: 85%;
      max-width: 1110px;
      padding: 30px 0 0px; } }
  @media (min-width: 1500px) {
    footer {
      max-width: 1380px; } }

.footer-item-address {
  margin-bottom: 30px; }
  .footer-item-address h5 {
    margin-bottom: 25px; }

.footer-item-social {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  -webkit-box-align: start;
  align-items: flex-start;
  -webkit-box-pack: start;
  justify-content: flex-start;
  margin-bottom: 60px; }

@media (min-width: 1025px) {
  .footer-item-social--mobile {
    display: none; } }

.footer-item-social--desktop {
  display: none; }
  @media (min-width: 1025px) {
    .footer-item-social--desktop {
      display: block; } }

.social-icons {
  display: -webkit-box;
  display: flex; }

.social-icon {
  margin-right: 25px;
  width: 36px;
  height: 36px;
  margin-bottom: 30px; }
  .social-icon .svg-icon-bkg {
    fill: white; }
  .social-icon .svg-icon {
    fill: black; }
  .social-icon:hover .svg-icon-bkg {
    fill: #2bceff; }

.connected-logo {
  width: 195px;
  margin-bottom: 30px; }
  .connected-logo svg {
    width: 100%; }
    .connected-logo svg:hover .connected-logo-path {
      fill: #2bceff; }

.footer-item-newsletter {
  width: 100%;
  max-width: 336px; }
  .footer-item-newsletter h5 {
    margin-bottom: 25px; }
  @media (min-width: 1500px) {
    .footer-item-newsletter {
      max-width: 426px; } }

.custom-wrapper {
  padding: 0;
  margin: 0; }
  .custom-wrapper .nf-field .field-wrap .nf-field-label label {
    font-family: Montserrat;
    font-size: 12px;
    font-weight: 300;
    font-style: normal;
    line-height: 1.25;
    letter-spacing: 0.6px;
    text-align: left;
    color: #ffffff; }

.custom-input {
  font-size: 20px;
  padding: 10px 0 10px 10px;
  font-family: Montserrat;
  border: none; }
  .custom-input:focus {
    box-sizing: border-box;
    outline: none !important;
    box-shadow: inset 0px 0px 0px 3px #2bceff; }

.custom-submit-button {
  border: none;
  text-transform: uppercase;
  font-family: Montserrat;
  font-size: 12px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: 1;
  letter-spacing: 2.16px;
  margin: 0;
  padding: 14px 32px;
  display: inline-block;
  text-align: center;
  width: 170px;
  background: white;
  cursor: pointer; }
  .custom-submit-button span {
    color: black; }
  .custom-submit-button:hover {
    background: #2bceff; }
    .custom-submit-button:hover span {
      color: black; }

.legal-banner--wrapper {
  background-color: #242424;
  height: 90px;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center; }

.legal-banner {
  width: 85%;
  margin: 0 auto;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column; }
  @media (min-width: 768px) {
    .legal-banner {
      -webkit-box-orient: horizontal;
      -webkit-box-direction: reverse;
      flex-direction: row-reverse;
      -webkit-box-pack: justify;
      justify-content: space-between;
      -webkit-box-align: center;
      align-items: center; } }

.policies {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
  margin-bottom: 24px; }
  .policies a {
    text-decoration: underline;
    color: white;
    margin-left: 21px; }
  @media (min-width: 768px) {
    .policies {
      margin-bottom: 0; } }
